.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.history
.idea
.vercel
.vscode
.yarn
*.log
*.tgz
firebase
logs
npm-debug.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
coverage
